/*Reseting */
:root {font: 20px/1.2 "Garamond", sans-serif;}

body,
body * {
  margin: unset;
  box-sizing: unset;
  padding: unset;
  font-size: unset;
  color: unset;
  text-decoration: unset;
}

figure * { display: block; }

ul {
list-style: none;
padding: 0px;
margin: 0px;
}

/*General Alignment*/

.wrapper {
  max-width: 850px;
  margin: 0 auto;
  padding: 0px 10px;
}

header {
  border-top: 1px solid;
  border-bottom: 1px solid;
  margin-bottom: 8px;
  padding: 0px 10px;
}
.topnav {
  max-width: 850px;
  margin: 0 auto;
}

.title {
  margin-top: 3%;
  margin-bottom: 3%;
}

/*Text font*/
h1            {font: 700 2.0rem/1.2 "Roboto";}
h2            {font: 400 1.5rem/1.2 "Roboto";}
time          {font: 700 1.0rem/1.2 "Roboto";}
h3            {font: 700 1.0rem/1.2 "Roboto";}
p             {font: 400 1.0rem/1.5 "Roboto";}
figcaption p  {font: 400 1.0rem/1.5 "Roboto";}


@media (max-width:  800px) { :root { font-size: 18px; } }
@media (max-width:  500px) { :root { font-size: 16px; } }

.topnav a {
  font-weight: 900;
}

/*Navbar*/
.topnav {
  overflow: hidden;
  margin-bottom: 10px;
}
.topnav a {
  float: right;
  margin-top: 10px;
  padding: 14px 3px 14px 3px;
  text-decoration: none;
}

.topnav button {
  float: right;
  margin-top: 10px;
  padding: 14px 3px 14px 3px;
  text-decoration: none;
  width: 24px;
  height: 24px;
}
.home {
  position: absolute;
  float: left;
}
.ref {
  margin:0px 4%;
}

/*Home page*/
.definition {
  margin-top: 10px;
  margin-bottom: 10px;
}

/*Show page*/

.content p {
  margin-bottom: 3%;
}

/*Figures*/

figure > *  {
  border: 3px solid grey;
  margin: 10% auto;
}

figure.fit * {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
}

figure.wide * {
  box-sizing: border-box;
  width: 150%;
  height: 100%;
  transform: translateX(-17%);
}

@media (max-width: 1250px) {
  figure.wide * {
    box-sizing: border-box;
    width: 100%;
    height: 100%;  
  transform: unset;
  margin: 0 auto;  
  }
}

/*Tags and Categories*/

.tags {
  display: flex;
}

.tags img {
  padding: 0.75rem;
  width: 1.50rem;
  height: 1.50rem;
}
#tag>li {
  float: left;
  margin-bottom: 5px;
}
#cat>li {
  float: left;
  margin-bottom: 5px;
}

