/*Reseting */
:root {font: 20px/1.2 "Garamond", sans-serif;}

body,
body * {
  margin: unset;
  box-sizing: unset;
  padding: unset;
  font-size: unset;
  color: unset;
  text-decoration: unset;
}

figure * { display: block; }

ul {
list-style: none;
padding: 0px;
margin: 0px;
}

button {
  border: none;
  background: transparent;
  outline: none;
}

/*General Alignment*/
body {
  overflow: overlay;
}

.wrapper {
  max-width: 850px;
  margin: 0 auto;
  padding: 0px 10px;
}

header {
  border-bottom: 1px solid;
  margin-bottom: 8px;
  padding: 0px 10px;
  max-width: 850px;
  margin: 0 auto;
}

.title {
  margin-top: 3%;
  margin-bottom: 3%;
}


/*Text font*/
h1            {font: 700 1.7rem/1.2 "Roboto";}
h2            {font: 400 1.5rem/1.2 "Roboto";}
time          {font: 700 1.0rem/1.2 "Roboto";}
h3            {font: 700 1.0rem/1.2 "Roboto";}
p             {font: 400 1.0rem/1.5 "Roboto";}
figcaption p  {font: 400 1.0rem/1.5 "Roboto";}
#tag, #serie  {font: 400 1.0rem/1.5 "Roboto";}


@media (max-width:  800px) { :root { font-size: 18px; } }
@media (max-width:  500px) { :root { font-size: 16px; } }



/*Navbar*/

.topnav {
  padding: 1.2em 0.5em 0.75em 0.5em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.topnav button svg {
  width: 1.5em;
}

.topnav > * {
  display: flex;
}

.topnav a.home {
  margin-right: auto;
}

.topnav div.right-end {
  margin-left: auto;
}

.topnav a.archive {
  margin-left: 0.5em
}

.topnav > .btn-toggle {
  position: absolute;
  left: 48%;
}

/*Home page*/
.definition {
  margin-top: 10px;
  margin-bottom: 10px;
}

/*Show page*/

.content p {
  margin-bottom: 3%;
}

/*Figures*/

figure > *  {
  border: 3px solid grey;
  margin: 10% auto;
}

figure.fit * {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
}

figure.wide * {
  box-sizing: border-box;
  width: 150%;
  height: 100%;
  transform: translateX(-17%);
}

@media (max-width: 1250px) {
  figure.wide * {
    box-sizing: border-box;
    width: 100%;
    height: 100%;  
  transform: unset;
  margin: 10% auto;  
  }
}

/*Tags and Series*/

#tag, #serie {
  display: flex;

}

/*tooltips for description*/



li.post:hover .tooltip {
  visibility: visible;
  transition-delay: 0.3s;
}
li.postOfSerie:hover .tooltip {
  visibility: visible;
  transition-delay: 0.3s;
}

@media only screen and (min-width: 850px) {
  .post {
  width: 49%;
  position: relative;
  }
  p.tooltip {
    visibility: hidden;
    position: absolute;
    left: 119%;
    top: 0.1%;
    width: 92%;
  }

  li.postOfSerie {
    width: 50%;
    position: relative;
  }
}


/*General*/
.wrapper li {
  margin-bottom: 20px;
}

.sorting button {
  margin: 10px 10px 10px 0px;
}

.active {
  font-weight: bold;
}

.postOfSerie {
  margin-left: 5%;
}
.postOfSerie > h1 {
  font: 400 1.5rem/1.2 "Roboto";
}

li.postOfSerie::marker {
  font: 400 1.5rem/1.2 "Roboto";
}

#titlePost {
  margin-top: 2%;
  margin-bottom: 4%;
}

#titlePost > h3 {
  float: right;
  padding: 1% 0px ;
}